.BigBox{
    width: 96vw;
    height: 92vh;
    margin: auto;
    margin-top: 4vh;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    display: flex;
}
.darkButton{
    z-index: 0;
    height: 86.1vh;
    margin-top: 3vh;
    border: none;
    font-size: large;
    background-color: black;
    color: white;
    /* box-shadow: 0px 0px 10px black; */
}